@model IEnumerable<WebApplication1.Models.ContactModel>
@{
    ViewData["Title"] = "My Contacts";

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.PagerInfo != null)
    {
        pager = ViewBag.PagerInfo;
        pageNo = pager.currentPage;
    }
}

<head>
    <link href="~/css/style_mycontactspage.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <div class="flex-wrap">
                    <div class="logo">
                        <a asp-action="Homepage" asp-controller="Home" asp-route-id="@ViewBag.id"><img src="~/images/logo.PNG" alt="Logo image"></a>
                    </div>
                    <div class="button">
                        <a asp-action="Index" asp-controller="Home"><button class="button-primary">Log out</button></a>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="content" id="page-content">
                    @*if model has records then..*@
                    @if (pager.totalItem > 0)
                    {
                        <div class="title" id="pagetitle">
                            <h1>My Contacts</h1>
                        </div>

                        <div class="table-container">
                            <table class="content-table">
                                <thead id="table-header">
                                    <tr>
                                        <th><input type="checkbox" class="selectAll" title="Select all" id="SelectAll"></th>
                                        <th>Id</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Gender</th>
                                        <th>Email</th>
                                        <th>View</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>

                                <tbody id="table-rows">

                                    @foreach (var contact in Model)
                                    {
                                        <tr id="del_@contact.id">
                                            @* hide row using this id on delete*@
                                            <td>
                                                <input type="checkbox" class="selectContact" id="SelectOne" onclick="" value="@contact.id">
                                            </td>
                                            <td>@contact.id</td>
                                            <td>@contact.firstname</td>
                                            <td>@contact.lastname</td>
                                            <td>@contact.gender</td>
                                            <td>@contact.Email</td>
                                            <td><a asp-action="ViewContact" asp-controller="ViewContact" asp-route-contactid="@contact.id" asp-route-userid="@ViewBag.id"><button class="button-primary btn">Edit</button></a></td>
                                            <td><button class="button-primary btn deletebtn" onclick="DeleteContact(@contact.id)">Delete</button></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>

                        <div class="button bottom-btn">
                            <input type="submit" class="button-primary" id="deletebtn" onclick="DeleteSelected()" form="selectedItem" value="Delete" />

                            <a asp-action="AddContact" asp-controller="AddContact" asp-route-id="@ViewBag.id" id="addnewlink"><button class="button-primary">Add New</button></a>
                        </div>

                        <div class="page-navigator">
                            @if (pager.totalPage > 0)
                            {
                                <ul class="pagination justify-content-end">
                                    @if (pager.currentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="MyContacts" asp-action="MyContacts" asp-route-pageNumber="@(pager.currentPage-1)">Previous</a>
                                        </li>
                                    }
                                    @for (var pge = pager.firstPage; pge <= pager.lastPage; pge++)
                                    {
                                        <li class="page-item @(pge == pager.currentPage ? "active" : "")">
                                            <a class="page-link" asp-controller="MyContacts" asp-action="MyContacts" asp-route-pageNumber="@pge">@pge</a>
                                        </li>
                                    }
                                    @if (pager.currentPage < pager.totalPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="MyContacts" asp-action="MyContacts" asp-route-pageNumber="@(pager.currentPage+1)">Next</a>
                                        </li>
                                    }
                                </ul>
                            }

                        </div>

                    }
                    else
                    {
                        <img src="~/images/NoData.PNG" width="300px" height="270px" alt="No data here image" />
                        <h3>Nothing to show yet!</h3>

                        <div class="button bottom-btn">
                            <a asp-action="AddContact" asp-controller="AddContact" asp-route-id="@ViewBag.id"><button class="button-primary">Add New</button></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">

    // select and deselect all checkboxes.
    $(".selectAll").change(function () {
        $(".selectContact").prop("checked", $(this).prop("checked"))
    })

    $("#table-rows tr td input[type=checkBox]").click(function () {
        UpdateSelectAllCheckBox();
    })
</script>

<script>
    // get number of table row on page load.
    var total_rows = $("#table-rows tr td input[type=checkBox]").length;

    // update 'SelectAll' checkbox in table header according to rows
    function UpdateSelectAllCheckBox() {

        if ($("#table-rows tr td input[type=checkBox]:checked").length == $("#table-rows tr td input[type=checkBox]").length) {
            $("#SelectAll").attr("checked", "checked");
        }
        else {
            $("#SelectAll").removeAttr("checked");
        }
    }

    // Delete contact using individual delete button.
    function DeleteContact(contact_id) {
        if (confirm("Are you sure?")) {
            $.ajax({
                url: '/MyContacts/DeleteThisOne',
                type: 'POST',
                dataType: 'JSON',
                data: { "c_id": contact_id, "u_id": @ViewBag.id },
                success: function (data, status) {
                    $("#del_" + contact_id).hide();
                    total_rows--;

                    // when user delete all contacts of a perticular page, Move to previous page.
                    if (total_rows == 0 && @pager.currentPage > 1) {
                        window.location.href = '@Url.Action("MyContacts", "MyContacts", new { id = ViewBag.id, pageNumber = pager.currentPage - 1 })';
                    }
                    else if (total_rows == 0) {
                        showNoDataScreen();
                    }
                },
                error: function (xhr, ajaxoption, thrownerror) {
                    alert(thrownerror);
                }
            });
        }
    }

    // delete all selected contacts.
    function DeleteSelected() {
        var checked = $("#table-rows tr td input[type=checkBox]:checked");
        if (checked.length > 0) {
            if (confirm("Are you sure?")) {
                var idlist = [];
                checked.each(function () {
                    // read table data. -> current row, table data, second column contains id, in text format.
                    var contactid = (parseInt($(this).closest("tr").find("td").eq(1).text()));
                    idlist.push(contactid);

                });

                // call deleteSelected action method
                $.ajax({
                    url: '/MyContacts/deleteSelectedContacts',
                    type: 'POST',
                    dataType: 'JSON',
                    data: { "selectedIds": JSON.stringify(idlist) },
                    success: function (data, status) {
                        // create row id and hide that row.
                        idlist.forEach(function (id) {
                            $("#del_" + id).hide();
                        })

                        if ($("#SelectAll").prop("checked") && @pager.currentPage > 1) {
                            window.location.href = '@Url.Action("MyContacts", "MyContacts", new { id = ViewBag.id, pageNumber = pager.currentPage - 1 })';
                        }
                        else if ($("#SelectAll").prop("checked")) {
                            showNoDataScreen();
                        }

                    },
                    error: function (xhr, ajaxoption, thrownerror) {
                        alert(thrownerror);
                    }

                });
            }
        }
        else {
            alert("Nothing selected!");
        }
    }

    function showNoDataScreen(){
        $("#pagetitle").hide();
        $("#table-header").hide();
        $("#deletebtn").hide();
        $("#addnewlink").hide();
        $(".page-navigator").hide();

        $(".table-container").html(
            '<img id="nodataimg" width="300px" height="270px" alt="No data here image"/>   \
            <h3>Nothing to show yet!</h3>  \
            <div class="button bottom-btn">  \
            <a asp-action="AddContact" asp-controller="AddContact" asp-route-id="@ViewBag.id"><button class="button-primary">Add New</button></a> \
            </div>'
        );

    }

</script>
