@model ContactModel
@{
    ViewData["Title"] = "ViewContact";
}

<head>
    <link href="~/css/style_contectviewpage.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <div class="flex-wrap">
                    <div class="logo">
                        <a asp-action="Homepage" asp-controller="Home" asp-route-id="@ViewBag.id"><img src="~/images/logo.PNG" alt="Logo image"></a>
</div>
                    <div class="button">
                        <a asp-action="Homepage" asp-controller="Home"><button class="button-primary">Log out</button></a>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="title-space">
                    <img src="~/images/person.png" alt="Person logo">
                    <div class="name">
                        <span id="fname">@Model.firstname</span>
                        <span id="lname">@Model.lastname</span>
                    </div>
                </div>

                <div class="details">
                    <div class="content-wrap">
                        <span class="sectionTitle">
                            Contact Details
                        </span>

                        <div class="items">
                            <img src="~/images/email.png" title="Contact's Email Address" alt="Email logo">
                            <span id="email" title="Contact's Email Address" contenteditable="true" >@Model.Email</span>
                            <button onclick="copyClipboard()" title="Copy to clipboard"> </button>
                            <p class="emailcopy"></p>
                        </div>

                        <div class="items" title="Contact's Gender">
                            <img src="~/images/gender.png" alt="Gender logo">
                            <span id="gender" contenteditable="true">@Model.gender</span>
                        </div>

                        <div class="items">
                            <img src="~/images/phone.png" title="Contact's Phone Number" alt="Phone logo">
                            <span id="phone" title="Contact's Phone Number" contenteditable="true">@Model.phone</span>
                            <button onclick="copyClipboard()" title="Copy to clipboard"> </button>
                            <p class="phonecopy"></p>
                        </div>

                        <div class="items">
                            <img src="~/images/fax.png" title="Contact's fax" alt="Fax-machine logo">
                            <span id="fax" title="Contact's fax" contenteditable="true">@Model.fax</span>
                            <button onclick="copyClipboard()" title="Copy to clipboard"> </button>
                            <p class="faxcopy"></p>
                        </div>
                    </div>
                </div>

                <div class="button bottom-btn">
                    <a href="./addcontact.html"><button class="button-primary">Save</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function copyClipboard() {
        /* Get the text field */
        var copyText = document.getElementById("myInput"); 

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }
</script>

